/* styling the header section */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
}

img, button {
  cursor: pointer;
}

body {
  overflow-x: hidden;
}

/* Header container */
.header-container {
  display: flex;
  height: 13vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #27272a;
}

/* Left section of header */
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-left: 96px;
}

/* Logo */
.logo {
  width: 48px;
  height: 48px;
}

#search-icon {
  font-size: medium;
}

/* Navigation list */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  color: rgb(194, 203, 200);
}

.nav-list button:hover {
  color: white;
}

.nav-list button {
  background: none;
  border: none;
  color: rgb(194, 203, 200);
  cursor: pointer;
  font-size: small;
  letter-spacing: 2px;
}

.nav-list h5 {
  margin: 0;
}

/* Right section of header */
.header-right {
  display: flex;
  gap: 28px;
  align-items: center;
  padding-right: 96px;
}

/* Dealer search items */
.dealer-search {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.dealer-search button {
  background: none;
  border: none;
  color: rgb(148, 148, 141);
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 2px;
}

.zip-code {
  display: flex;
  align-items: center;
  gap: 5px;
}

.zip-code pre {
  font-size: 10px;
  color: rgb(148, 148, 141);
  letter-spacing: 2px;
  cursor: pointer;
}

.zip-code .material-symbols-outlined {
  color: rgb(148, 148, 141);
}

.material-symbols-outlined {
  position: relative;
  top: 2px;
  right: 8px;
}

.dealer-search button:hover {
  color: white;
}

.dealer-search a,
pre:hover {
  color: white;
}

.material-symbols-outlined:hover {
  color: white;
}

/* styling slideshow section */

iframe {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 78vh;
  display: none;
}

.nav-list a:hover iframe {
  display: block;
}

.slideshow {
  overflow: hidden;
  height: 78vh;
  background-color: rgb(39, 39, 41);
  position: sticky;
  top: 0;
  z-index: -1;
}

.image-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 78vh; 
  column-gap: 20px;
}

@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-345vw);
  }
}

.slideshow .image-container img {
  height: 70%;
  width: 1200px; 
  border-radius: 20px;
  animation: autoScroll 50s linear infinite;
}

/* styling main-content section */
.main-content {
  display: flex;
  background-color: white;
  height: 130vh;
  width: 100%;
  flex-wrap: wrap;
}

.main-content-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  padding-block: 50px;
}

.main-content-1 video {
  border: none;
  height: 330px;
}
.main-content-1 h1,
button {
  text-transform: uppercase;
}

.main-content-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  padding-block: 50px;
}

.main-content-2 img {
  height: 330px;
}

div.text-1 {
  width: 70%;
  margin-bottom: 50px;
}

div.text-2 {
  width: 70%;
  margin-top: 50px;
}

.main-content h1 {
  letter-spacing: 2px;
  color: rgb(5, 18, 24);
}

.main-content p {
  line-height: 30px;
}

.main-content button {
  padding-block: 20px;
  background-color: white;
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
  color: rgb(102, 100, 101);
  font-weight: 700;
  letter-spacing: 2px;
}



/* styling icons section*/

.icons-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  height: 65vh;
  width: 100%;
  gap: 30px;
}

.icons-section img {
  transform: scale(1);
  transition: transform 1s ease-in;
}

.icons-section img:hover {
  transform: scale(1.2);
}

.icons-section h5 {
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;
  padding-bottom: 5px;
}

.icons-section p {
  font-size: small;
  line-height: 20px;
  letter-spacing: 1.5px;
}

.icon-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 20%;
  gap: 15px;
}

.icon-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 20%;
  margin-bottom: 48px;
  gap: 15px;
}

/* styling cars section */

.cars-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 145vh;
  width: 100%;
  gap: 50px;
}

.cars {
  display: flex;
  justify-content: center;
  gap: 1%;
  height: 60%;
  width: 100%;
  margin-top: 40px;
}

.cars img {
  height: 400px;
  width: 400px;
  margin-bottom: 8%;
  border-radius: 10px;
  transform-origin: center;
  transform: perspective(800px) rotateY(20deg);
  transition: 0.5s;
  box-shadow: 0px 0px 8px grey;
}

.cars:hover img{
  opacity: 0.7;
}
.cars img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

.cars .car-1,
.car-2,
.car-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cars p {
  font-size: medium;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.cars button {
  background-color: black;
  color: white;
  width: 170px;
  height: 45px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.cars button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.cars-sub-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  gap: 45px;
}

.sub-divs img {
  object-fit: contain;
  height: 30%;
}

.sub-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  height: 55%;
  width: 20%;
  gap: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
}

.sub-divs:hover {
  filter: invert(100%);
  font-weight: 700;
}

/* styling footer section */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 41);
  height: 100vh;
}

.footer-section {
  padding-top: 30px;
  color: white;
  height: 100%;
  width: 88%;
}

.subscribe-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.subscribe-section span:hover {
  color: white;
}

.subscribe-section #icon:hover {
  color: white;
}

.subscribe-section #icon {
  color: rgb(153, 154, 154);
  font-size: 25px;
  position: relative;
  top: 6px;
}

.subscribe-section a {
  text-decoration: none;
}

.subscribe-text {
  font-size: 16px;
  font-weight: bold;
  color: rgb(153, 154, 154);
  font-size: 10px;
  letter-spacing: 2px;
}

.footer-columns {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  justify-content: start;
  height: 68%;
  gap: 6%;
  padding: 15px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  height: 5%;
  color: rgb(154, 153, 152);
  font-size: 25px;
  align-items: center;
  padding-bottom: 8px;
}

.social-icons i:hover {
  color: white;
  cursor: pointer;
}

.social-icons i {
  margin-right: 15px;
}

#globe {
  border-radius: 5px;
}
.social-icons span {
  color: rgb(153, 154, 154);
  font-weight: 700;
  cursor: pointer;
}

#icon-text span:hover {
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
}

.column h5 {
  margin-bottom: 10px;
}

.column ul {
  list-style: none;
  padding-left: 0;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 25px;
}

.column ul li {
  margin-bottom: 5px;
}

.column ul li a {
  text-decoration: none;
  color: rgb(153, 154, 154);
  font-weight: bold;
  letter-spacing: 2px;
}

.column ul li a:hover {
  color: white;
}

.legal-section {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  text-align: center;
  padding-top: 3%;
  position: relative;
  right: 6px;
}

.legal-section a,
span {
  color: rgb(153, 154, 154);
  text-decoration: none;
  font-size: 10px;
  padding: 0 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.legal-section a:hover {
  color: white;
}

.copyright {
  margin-top: 3%;
  text-align: end;
  font-size: 10px;
  letter-spacing: 2px;
  color: rgb(153, 154, 154);
}

