@font-face {
  font-family: "standard-icon-font";
  src: local("standard-icon-font"),
    url("../font/standard-icon-font.woff2") format("woff2");
}

/* html {
    font-family: "standard-icon-font";
  } */

body {
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
}

/* Header container */
.header-container {
  display: flex;
  height: 13vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #27272a;
}

/* Left section of header */
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-left: 96px;
}

/* Logo */
.logo {
  width: 48px;
  height: 48px;
}

#search-icon {
  font-size: medium;
}

/* Navigation list */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  color: rgb(194, 203, 200);
}

.nav-list button:hover {
  color: white;
}

.nav-list button {
  background: none;
  border: none;
  color: rgb(194, 203, 200);
  cursor: pointer;
  font-size: small;
  letter-spacing: 2px;
}

.nav-list h5 {
  margin: 0;
}

/* Right section of header */
.header-right {
  display: flex;
  gap: 28px;
  align-items: center;
  padding-right: 96px;
}

/* Dealer search items */
.dealer-search {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.dealer-search button {
  background: none;
  border: none;
  color: rgb(148, 148, 141);
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 2px;
}

.zip-code {
  display: flex;
  align-items: center;
  gap: 5px;
}

.zip-code pre {
  font-size: 10px;
  color: rgb(148, 148, 141);
  letter-spacing: 2px;
  cursor: pointer;
}

.zip-code .material-symbols-outlined {
  color: rgb(148, 148, 141);
}

.material-symbols-outlined {
  position: relative;
  top: 2px;
  right: 8px;
}

.dealer-search button:hover {
  color: white;
}

.dealer-search a,
pre:hover {
  color: white;
}

.material-symbols-outlined:hover {
  color: white;
}

.header1 {
  background-color: #ffffff;
  width: 100%;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  height: 60px;
}
.container1 {
  display: flex;
  align-items: center;
  width: 100%;
}

.offer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  font-size: 0.9rem;
  font-weight: 550;
  letter-spacing: 0.1rem;
  background-color: #ffffff;
}

.dealer_count {
  font-size: 0.9rem;
  font-weight: 550;
  color: #101010;
}

.offer_serach input {
  display: inline-block;
  align-items: center;
  height: 2.7rem;
  width: 6rem;
}

.img1 {
  position: relative;
  text-align: center;
}

.imtext1 {
  position: absolute;
  top: 30%;
  left: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
  color: #ffffff;
}

.main {
  display: grid;
  grid-template-columns: 20vw max-content 45vw;
}

.sidebar_dealer {
  margin-bottom: 4.5rem;
}

.sidebar {
  height: 100%;
  width: 17rem;
  grid-column-start: 2;
  grid-column-end: 3;
}

.dealer {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.filters {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.zip_map {
  display: flex;
  justify-content: space-around;
  font-size: 0.6em;
  font-weight: 600;
  letter-spacing: 0.2em;
}

#map {
  color: #999999;
}

.option_zip {
  display: flex;

  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
}

#miles {
  cursor: pointer;
}

.option_zip select {
  height: 3rem;
  width: 7rem;
}

.option_zip input {
  display: inline-block;
  align-items: center;
  height: 2.7rem;
  width: 6rem;
}

p {
  line-height: 1.6rem;
  font-size: 1.1rem;
}

.models {
  padding-bottom: 2rem;
}
.model {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 520;
  letter-spacing: 0.1em;
  margin-bottom: 1.5rem;
}

.model_price {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 520;
  letter-spacing: 0.1em;
  /* margin-bottom: 0.3rem; */
}

.filters {
  color: #999999;
  font-size: 0.9rem;
}

.filters_model {
  color: #999999;
  font-size: 0.9rem;
}

.single_model {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 0.8rem;
  /* grayscale(100%); */
  margin-bottom: 1rem;
}

.single_model input {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 1.6rem;
}

.single_model label {
  color: #999999;
  padding-left: 0;
}

.sidebar_model .single_model img {
  height: 2.5rem;
  width: 6.4rem;
}

.img1 {
  margin-bottom: 2rem;
}

.imtext {
  position: relative;
}

.img2 {
  height: 5rem;
  width: 12rem;
}

.img {
  margin-left: 1.8rem;
}

.car {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.single_model1 {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 0.8rem;
  /* grayscale(100%); */
  margin-bottom: 1rem;
}

.single_model1 input {
  height: 1.6rem;
  width: 1.8rem;
  margin-right: 1.5rem;
}

.single_model1 label {
  color: #999999;
  padding-left: 0;
}

.single_model2 {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 0.8rem;
  /* grayscale(100%); */
  margin-bottom: 1rem;
}

.single_model2 input {
  height: 1.6rem;
  width: 1.8rem;
  margin-right: 1.5rem;
}

.single_model2 label {
  color: #999999;
  padding-left: 0;
}

.sidebar_model .single_model1 img {
  height: 2.5rem;
  width: 6.4rem;
}
.sidebar_model .single_model2 img {
  height: 2.5rem;
  width: 6.4rem;
}

.min_max {
  display: flex;
  color: #999999;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .summary {
    margin-left: 0px;
  }
  .container {
    display: block;
  }
  .inventory_types {
    padding-left: 0;
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }
  .flex {
    flex-direction: column;
  }
  .main_bar {
    display: block;
  }

  .car,
  .img2 {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@media only screen and (max-width: 1024px) {
  .main {
    grid-template-columns: 0 max-content 60vw;
    margin-left: 2rem;
  }
  .card {
    width: 175px !important;
    /* padding: 0 !important; */
  }
  .text-xs {
    font-size: 0.6rem !important;
  }
  .text-xl {
    font-size: medium !important;
    font-weight: 600;
  }
  .btn {
    font-size: small !important;
  }
}

@media only screen and (max-width: 425px) {
  .new_vehicles,
  .separator,
  .preowned {
    font-size: 0.6rem !important;
  }
}

.main_page {
  margin-left: 3.5rem;
}
.main_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  position: sticky;
  top: 60px;
  background-color: #f5f5f5;
  z-index: 1;
}

.car_head {
  font-size: 1.5rem;
  font-weight: 500;
}

.explore {
  font-size: 0.8rem;
  color: #999999;
}

.card_row {
  margin-left: 5px;
  margin-bottom: 5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 250px;
  height: 380px;
  padding: 10px;
  background-color: #ffffff;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.icon,
.card_offer {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 12px !important;
  margin-right: 0.35rem;
}

.btn {
  width: 100%;
  padding: 5px;
  border: 2px solid black;
  margin: 5px 0;
  border-radius: 5px;
}

.content {
  margin-left: 5px;
}

.clear {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #999999;
  letter-spacing: 0.1rem;
}

.imgcontainer {
  position: relative;
  text-align: center;
}

.imgtext {
  position: absolute;
  top: 50%;
  left: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgtext1 {
  color: #ffffff;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.imgtext2 {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 540;
  color: #ffffff;
}

.btnmap {
  background-color: #ffffff;
  color: black;
  border-radius: 4px;
  height: 3rem;
  width: 12rem;
  font-size: 1rem;
  font-weight: 500;
}

.btnmap:hover {
  background-color: #999999;
  transition: 0.4s;
}

/* styling footer section */

.footer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 41);
  height: 100vh;
}

.footer-section {
  padding-top: 30px;
  color: white;
  height: 100%;
  width: 88%;
}

.subscribe-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.subscribe-section span:hover {
  color: white;
}

.subscribe-section #icon:hover {
  color: white;
}

.subscribe-section #icon {
  color: rgb(153, 154, 154);
  font-size: 25px;
  position: relative;
  top: 6px;
}

.subscribe-section a {
  text-decoration: none;
}

.subscribe-text {
  font-size: 16px;
  font-weight: bold;
  color: rgb(153, 154, 154);
  font-size: 10px;
  letter-spacing: 2px;
}

.footer-columns {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  justify-content: start;
  height: 68%;
  gap: 6%;
  padding: 15px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  height: 5%;
  color: rgb(154, 153, 152);
  font-size: 25px;
  align-items: center;
  padding-bottom: 8px;
}

.social-icons i:hover {
  color: white;
  cursor: pointer;
}

.social-icons i {
  margin-right: 15px;
}

#globe {
  border-radius: 5px;
}
.social-icons span {
  color: rgb(153, 154, 154);
  font-weight: 700;
  cursor: pointer;
}

#icon-text span:hover {
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
}

.column h5 {
  margin-bottom: 10px;
}

.column ul {
  list-style: none;
  padding-left: 0;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 25px;
}

.column ul li {
  margin-bottom: 5px;
}

.column ul li a {
  text-decoration: none;
  color: rgb(153, 154, 154);
  font-weight: bold;
  letter-spacing: 2px;
}

.column ul li a:hover {
  color: white;
}

.legal-section {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  text-align: center;
  padding-top: 3%;
  position: relative;
  right: 6px;
}

.legal-section a,
span {
  color: rgb(153, 154, 154);
  text-decoration: none;
  font-size: 10px;
  padding: 0 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.legal-section a:hover {
  color: white;
}

.copyright {
  margin-top: 3%;
  text-align: end;
  font-size: 10px;
  letter-spacing: 2px;
  color: rgb(153, 154, 154);
}
